[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide.git
[submodule ".themes/mediumfox"]
	path = .themes/mediumfox
	url = https://github.com/sevenadrian/MediumFox.git
